.container{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 30px 30px;
}

.productInput{
    display: flex;
    flex-direction: column;
    color: #000000;
    padding: 10px 0;
    font-family: Arial, serif;
    font-size: 1.2rem;
    text-indent: 7px;
}

.productInput input{
    height: 30px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-family: Arial, serif;
    font-size: 1.2rem;
    text-indent: 5px;
}

.submitBTN{
    text-align:right;
    padding: 30px 0 0 0;
}

.submitBTN button{
    font-size: 1.2rem;
    font-family: Arial, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 50px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5px;
    border:2px solid #000000;
}

@media screen and (max-width: 480px){
    .container{
        margin: 10px 10px;
    }

    .productInput{
        font-size: 1rem;
    }

    .productInput input{
        font-size: 1rem;
    }

    .submitBTN button{
        font-size: 1rem;
    }
}

/*@media screen and (min-width: 481px) and (max-width: 1280px){*/
/*    .container{*/
/*        margin: 10px 10px;*/
/*    }*/
/*}*/





